/* css! */

#viewport { 
		  position: relative; 
		  }
            
canvas {
	   background-color: transparent;																				
			 cursor:crosshair;
       }

.canvas {
       position: absolute;
       }
.canvas:active { 
    cursor: crosshair;
}

body {
	 background-image:url('../img/walls/wall2.jpg');
}

#backgroundImage {
				 position: fixed;
				 z-index: 1;
				 width: 1400;
				 height: 1400;
				 background-color: #ffe9e9;
				 box-shadow: 10px 10px 10px #000000;	
				 }

#background {
                z-index: 2;
            }

#middleground {
                z-index: 4;
            }

#foreground {
                z-index: 5;
            }

#gradient {
		  z-index: 6;
}

#cursor {
		z-index: 8;
		cursor: none;
}

#topContainer {
			  position: relative;
			  }

.frame {
	   position: absolute;
	   z-index: 7;
	   }

#tape1 {
	  left: -100px;
	  top: 35px;
	  background-image:url('../img/tape/tape1.png');	
	  background-size: 950px 100px;
	  width: 970px;
	  height: 100px;
}

#tape2 {
	   left: -75px;
	   top: -20px;
	   background-image:url('../img/tape/tape2.png');	
	   background-size: 100px 820px;
	   width: 105px;
	   height: 820px;
	   }

#tape3 {
	   left: 755px;
	   top: 10px;
	   background-image:url('../img/tape/tape3.png');	
	   background-size: 100px 820px;
	   width: 90px;
	   height: 820px;
	   }

#tape4 {
	   left: -80px;
	   top: 688px;
 	   background-image:url('../img/tape/tape4.png');	
	   background-size: 940px 100px;
	   height: 90px;
	   width: 940px;
}

#facebookIcon {
	   background-image:url('../img/paper-down.png');
	   height: 80px;
	   width: 80px;
}

#refreshIcon {
	   background-image:url('../img/paper-down.png');
	   height: 80px;
	   width: 80px;
}

#iconContainer {
	   position: absolute;
	   z-index: 9;
	   left: 900px;
	   top: 140px;
}

#wintoast {
		padding:10px 0px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		display: none; //switch 2 block on win
		position: absolute; bottom:-700px; /*hack*/ 
		height: 150px;
		width: 800px;
		background: rgba(120, 120, 80, 0.4);
		z-index: 100;
        font-size: 18pt;
}

@font-face {
    font-family: whoa;
    src: url('whoa.ttf');
}

h1 {
    font-family: 'whoa';    
    font-size: 60pt;
    padding-top: 30px;
    color: #53B0D2;
    text-shadow:
        -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}
